<head>
    <link rel="stylesheet" href="css/commands.css">
</head>
<div class="commands-container">
    <div class="commands-container_list">
        <div class="commands-container_list-title">
            <h2>Comandos</h2>
        </div>
        <div class="categories_list">
            <ul>
                <li>si</li>
            </ul>
        </div>
    </div>
    <div class="commans-container_content">
        <div class="commans-container_content-title">
            <h2>Category title</h2>
        </div>
        <div class="commans-container_content-commands">
            <div class="command-box">
                <div class="command-attrs">
                    <h4>/command</h4>
                    <p>command desc</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    function toggleCategories(e){
        document.getElementById('category-name').innerHTML = e.children[0].innerHTML
        fetch(`https://oneki.herokuapp.com/api/lang/en/cmd/${e.children[0].innerHTML}`).then(r => r.json()).then(category => {
            document.getElementById('cards').innerHTML = " "
            for(const command of category){
                console.log(command);
                document.getElementById('cards').innerHTML += `<div class="cards">
                    <h4>${command.type=='slash'?'/':'>'}${command.name}</h4>
                    <p>${command.description}</p>
                    <div class="cards-content card-active">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod eius debitis libero maiores beatae quidem delectus eligendi. Perferendis facere itaque necessitatibus, quas dolor fugit quod architecto officia provident nisi autem!</p>
                    </div>
                </div>`
            }
        })
    }
    
    function activeBar() {
        const bar = document.querySelector(".commands-container-list");
        bar.classList.toggle("commands-container-list-active");
    }
</script>
