<main class="main-content">
    <div>
        <h2 class="main-content__bot-name">Oneki bot</h2>
        <p class="main-content__bot-desk">Un bot multifuncional para tu servidor de Discord</p>
        <button type="button" class="main-content__invite-button"><a href="/invite" target="_blank">Invitar a Discord</a></button>
    </div>
</main>