<main class="main">
    <div class="main-page_content-container">
        <div class="bot-attrs">
            <h2>Oneki Bot</h2>
            <p>“Un bot multifuncional para tu servidor de discord”</p>
            <div class="bot-profile-picture hidenimg">
                <img src="/assets/oneki.svg" alt="" srcset="">
            </div>
            <button 
                onclick="redirect('/invite')" 
                class="bot-attrs_invite-button"
            >
                Invitar
            </button>
        </div>
        <div class="bot-profile-picture">
            <img src="/assets/oneki.svg" alt="" srcset="">
        </div>
    </div>
</main>