<main class="main-content">
    <div>
        <h2 class="main-content__bot-name">Oneki bot</h2>
        <p class="main-content__bot-desk">Un bot multifuncional para tu servidor de Discord</p>
        <button type="button" class="main-content__invite-button"><a href="https://discord.com/oauth2/authorize?client_id=858903483004354560&permissions=8&scope=bot%20applications.commands" target="_blank">Invitar a Discord</a></button>
    </div>
</main>
<footer class="main-content__footer">
    <div class="main-content__footer-bg"></div>
    <div class="main-content__footer-content">
        <h3>Nosortos</h3>
        <ul>
            <li><a>Servidor de Discord</a></li>
            <li><a href="">Invita a Oneki a tu servidor de Discord</a></li>
        </ul>
    </div>
</footer>