<main class="main">
    <div class="main-content">
        <h2 class="main-content__bot-name">Oneki bot</h2>
        <p class="main-content__bot-desc">Un bot multifuncional para tu servidor de Discord</p>
        <button class="main-content_invite-button" type="button" onclick="redirect('/invite')">Agregar a Discord</button>
    </div>
</main>