* {
    box-sizing: border-box;
}
body {
    background-color: #0a0a11;
    color: #fff;
    padding: 0;
    margin: 0;
    top: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
/*-----------------barra de navegacion------------------*/
.global-nav-content {
    display: flex;
    position: sticky;
    top: 0;
    width: 100vw;
    height: 4rem;
    padding: 0.70rem;
    background-color: rgba(0, 0, 0, 0.60);
    -webkit-backdrop-filter: blur(28px);
        backdrop-filter: blur(28px);
    user-select: none;
    justify-content: space-around;
}
.global-nav_bot-name {
    width: 20%;
    order: 1;
}
.global-nav_bot-name h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    cursor: pointer;
}
.global-nav_list {
    width: 80%;
    height: 100%;
    order: 2;
}
.global-nav_list ul {
    padding-left: 0;
    margin: 0.5rem;
}
.global-nav_list li {
    display: inline-flex;
    padding-left: 0.8rem;
    font-size: 1.2rem;
    font-weight: 200;
    opacity: 80%;
    transition: opacity 0.12s;
}
.global-nav_loggin {
    display: inline-flex;
    justify-content: center;
    width: 20%;
    order: 3;
}
.global-nav_loggin img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.global-nav_loggin p {
    margin: 0.5rem;
    font-size: 1.2rem;
    font-weight: 200;
    opacity: 80%;
    transition: opacity 0.12s;
}
.global-nav_list li:hover {
    opacity: 100%;
    text-decoration: underline;
    cursor: pointer;
}
.global-nav_loggin p:hover {
    opacity: 100%;
    text-decoration: underline;
    cursor: pointer;
}
.global-nav_button {
    display: none;
    order: 4;
}

/* -------------------------------footer-------------------------------- */
.global-footer {
    display: flex;
    width: 100vw;
    height: fit-content;
    justify-content: center;
    flex-wrap: wrap;
}
.global-footer_title {
    width: 100vw;
    font-size: 2rem;
    text-align: center;
}
.global-footer_content {
    display: inline-flex;
    width: 100vw;
    text-align: center;
    flex-direction: row;
}
.global-footer_content p {
    font-size: 2rem;
}
.global-footer_content li {
    font-size: 1.3rem;
    list-style: none;
}
.global-footer_content-left {
    width: 50%;
}
.global-footer_content-right {
    width: 50%;
}
.global-footer_content a {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}
/* -------------------------------scroll bar---------------------------- */
/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #6c6c70;
    border-radius: 12px;
    width: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #57575a;
}

/* -------------------------------responsive----------------------------- */
@media screen and (min-width: 2040px) {
    .global-nav_list {
        text-align: center;
        margin-left: 1%;
    }
    .global-nav_list li {
        padding-left: 2%;
    }
}
@media screen and (max-width: 1479px) {
    .footer__subtitle-1 {
        grid-column: 1 / 3;
    }
    .footer__subtitle-2 {
        grid-column: 3 / 5;
    }
    .main-content__footer-ul {
        grid-column: 1 / 3;
    }
    .main-content__footer-ul-2 {
        grid-column: 3 / 5;
    }
}
@media screen and (max-width: 1115px){
    .global-nav_bot-name{
        width: 30%;
    }
    .global-nav_list {
        width: 40%;
    }
    .global-nav_loggin {
        width: 30%;
    }
}
@media screen and (max-width: 770px){
    .global-nav-content {
        background-color: rgba(0, 0, 0, 0.80);
        height: fit-content;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .global-nav_bot-name {
        min-width: 170px;
    }
    .global-nav_list {
        display: none;
        order: 4;
    }
    .global-nav_loggin {
        width: 40%;
    }
    .global-nav_loggin p {
        display: none;
        order: 5;
    }
    .global-nav_loggin img {
        display: flex;
        margin-right: 0.60rem;
        justify-content: right;
        cursor: pointer;
        order: 2;
    }
    .global-nav_button {
        display: flex;
        justify-content: right;
        align-items: center;
        cursor: pointer;
        order: 3;
    }
}
@media screen and (max-width: 710px) {
    .global-footer_content {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .global-footer_content-left {
        width: 100%;
    }
    .global-footer_content-right {
        width: 100%;
    }
}
/* parte responsiva de la barra */
.active {
    display: block;
    width: 100%;
}
.active li {
    display: block;
}
/* google fonts */
.material-icons.md-32 { font-size: 32px; }