.nav-bar {
    position: fixed;
    background-color: #f89dfa;
    width: 100%;
    height: 4rem;
    opacity: 98%;
    z-index: 10;
}
.bot-name {
    position: fixed;
    display: inline-block;
    margin: 0.70rem 3rem;
    z-index: 11;
}
.nav-list {
    position: fixed;
    padding: 1.1rem 13rem;
    font-size: 1.3rem;
    z-index: 11;
}
.nav-list li {
    display: inline-block;
    padding-left: 2rem;
    opacity: 70%;
    transition: all 0.12s;
}
.nav-list li:hover {
    opacity: 100%;
    text-decoration: underline;
}
.loggin-button img{
    display: inline-block;
    position: fixed;
    width: 2.5rem;
    z-index: 11;
    margin-left: 79rem;
    margin-top: 0.75rem;
}
.loggin-button p {
    display: inline-block;
    position: fixed;
    margin-left: 70rem;
    margin-top: 1.1rem;
    font-size: 1.3rem;
    z-index: 11;
}
.loggin-button p :hover {
    text-decoration: underline;
    cursor: pointer;
}