<footer class="main-content__footer">
    <div class="main-content__footer-content">
        <h3>Mas información</h3>
        <h4 class="footer__subtitle-1 footer__subtible">Contacto</h4>
        <ul class="main-content__footer-ul footer-list">
            <li><a href="/discord">Servidor de Discord</a></li>
            <!-- <li><a href="/invite">Invita a Oneki a tu servidor de Discord</a></li> -->
        </ul>
        <h4 class="footer__subtitle-2 footer__subtible">Creditos</h4>
        <ul class="main-content__footer-ul-2 footer-list">
            <li><b>Estilo visual:</b> <a href="https://github.com/Nebula-mx" target="_blank">Nebula</a></li>
            <li><b>Comportamiento de la pagina:</b> <a href="https://github.com/EliMacMun" target="_blank">Elí Maciel</a></li>
        </ul>
    </div>
</footer>