<footer class="main-content__footer">
    <div class="main-content__footer-bg"></div>
    <div class="main-content__footer-content">
        <h3>Nosortos</h3>
        <ul>
            <li><a href="/discord">Servidor de Discord</a></li>
            <li><a href="/invite">Invita a Oneki a tu servidor de Discord</a></li>
        </ul>
    </div>
</footer>