<footer class="global-footer">
    <div class="global-footer_title">
        <h3>Más información</h3>
    </div>
    <div class="global-footer_content">
        <div class="global-footer_content-left">
            <p>Soporte:</p>
            <ul>
                <li><a href="https://discord.com/invite/8SpUxnF6v4" target="_blank">Servidor de discord</a></li>
            </ul>
        </div>
        <div class="global-footer_content-right">
            <p>Creditos:</p>
            <ul>
                <li>Estilo visual: <a href="https://github.com/Nebula-mx" target="_blank">Nebula-mx</a></li>
                <li>Comportamiento: <a href="https://github.com/eliyya" target="_blank">Eliyya</a></li>
            </ul>
        </div>
    </div>
</footer>