<footer class="footer">
    <div class="content">
        <div class="title">
            <h1>Oneki Bot</h1>
        </div>
        <div class="links">
            <p class="license">2022 All rights reserved Oneki Team ©</p>
            <p class="contact">Contact us</p>
        </div>
    </div>
</footer>