<header class="global-nav-bar">
    <div class="global-nav__bot-name">
        <h1>Oneki bot</h1>
    </div>
    <div class="global-nav__list">
        <nav>
            <ul>
                <li>Inicio</li>
                <li>Comandos</li>
                <li>Soporte</li>
                <li>Invitar</li>
            </ul>
        </nav>
    </div>
    <div class="global-nav__loggin">
        <p>Iniciar sesión</p>
    </div>
</header>