<header class="global-nav-content">
    <div class="global-nav_bot-name">
        <h1 onclick="redirect('/')">Oneki Bot</h1>
    </div>
    <nav class="global-nav_list">
        <ul>
            <li onclick="redirect('/')">Inicio</li>
            <!-- <li onclick="redirect('/commands')">Comandos</li> -->
            <!--                <li onclick="redirect('/support')">Soporte</li>-->
            <li onclick="redirect('/invite')">Invitar</li>
        </ul>
    </nav>
    <div class="global-nav_loggin">
        <%if(user) {%>
            <img src="<%=`https://cdn.discordapp.com/avatars/${user.id}/${user.avatar}.webp`%>" alt="profile picture" srcset="">
            <p class="user-name"><%=user.username%></p>
        <%} else {%>
            <img onclick="redirect('/login')" src="https://cdn.discordapp.com/attachments/877011670646542410/914188351098208366/oneki.webp" alt="" srcset="">
            <p onclick="redirect('/login')" class='user-name'>Iniciar sesión</p>
        <%}%>
        <div class="global-nav_button">
            <span onclick="active()" class="material-icons md-32">reorder</span>
        </div>
    </div>
</header>
<script>
    function redirect(route){
        console.log(location)
        location.href = location.origin+route
    }
    function active(){
        const activeList = document.querySelector('.global-nav_list');
        const activeUser = document.querySelector('.user-name')
        activeList.classList.toggle('active');
        activeUser.classList.toggle('active')
    }
</script>