<header class="global-nav-bar">
    <div class="global-nav__bot-name">
        <h1>Oneki bot</h1>
    </div>
    <div class="global-nav__list">
        <nav>
            <ul>
                <li onclick="redirect('/')">Inicio</li>
<!--                <li onclick="redirect('/commands')">Comandos</li>-->
<!--                <li onclick="redirect('/support')">Soporte</li>-->
                <li onclick="redirect('/invite')">Invitar</li>
            </ul>
        </nav>
    </div>
    <div class="global-nav__loggin">
        <%if(user) {%>
<!--        <%=`https://cdn.discordapp.com/avatars/${user.id}/${user.avatar}.webp`%>-->
            <p><%=user.username%></p>
        <%} else {%>
            <p onclick="redirect('/login')">Iniciar sesión</p>
        <%}%>
    </div>
</header>
<script>
    function redirect(route){
        console.log(location)
        location.href = location.origin+route
    }
</script>