<header class="global_nav-bar-container">
    <nav id="global_nav-bar" class="global_nav-bar">
        <h1 class="global_nav-bar_bot-name">Oneki Bot</h1>
        <ul id="nav_bar-list" class="global_nav-bar_list">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Comandos</a></li>
            <li><a href="#">Soporte</a></li>
        </ul>
        <div class="global_nav_login">
            <p>Iniciar sesión</p>
            <img src="/assets/User Avatar.png" alt="">
            <div onclick="activeButton()" class="global_nav-mobile_open-menu">
                <img  id="burguer" src="/assets/Burger.png" alt="">
            </div>
        </div>
    </nav>
</header>