body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 0;
    font-family: $font-family;
    color: #fff;
    overflow-x: hidden; 
}
.global_nav-bar-container {
    position: fixed;
    top: 0;
    .global_nav-bar {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
        -webkit-backdrop-filter: blur(40px);
            backdrop-filter: blur(40px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        width: 100vw;
        height: 60px;
        top: 0;
        color: #fff;
        .global_nav-bar_bot-name {
            margin: 0 4rem;
            font-size: 30px;
            font-weight: normal;
            order: 1;
        }
        .global_nav-bar_list {
            display: flex;
            padding: 0;
            margin: 0;
            font-size: 18px;
            order: 2;
            li {
                list-style: none;
                padding: 0 1.3rem;
                a {
                    color: $link-colour;
                    opacity: 70%;
                    text-decoration: none;
                    transition: opacity 0.12s;
                }
                a:hover {
                    opacity: 100%;
                    text-decoration: underline;
                }
            }
        }
        .global_nav_login {
            display: flex;
            align-items: center;
            width: max-content;
            cursor: pointer;
            order: 3;
            p {
                margin: 0 4rem 0 8px;
                font-size: 18px;
                color: $link-colour;
                order: 2;
            }
            img {
                width: 36px;
                height: 36px;
                order: 1;
                border-radius: 50%;
            }
            .global_nav-mobile_open-menu {
                display: none;
                order: 3;
                z-index: 21;
                img {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-thumb {
    background-color: rgb(194, 194, 194);
    border-radius: 15px;
}
@media screen and (min-width: 805px){
    .global_nav-bar-container{
        .global_nav-bar{
            .global_nav-bar_list{
                display: flex;
            }
        }
    }
}
@media screen and (max-width: 804px) {
    .global_nav-bar-container {
        .global_nav-bar {
            height: max-content;
            flex-wrap: wrap;
            padding-top: 5px;
            .global_nav-bar_bot-name {
                width: fit-content;
                font-size: 25px;
                margin: 0 2rem;
                order: 1;
            }
            .global_nav-bar_list {
                display: none;
                flex-direction: column;
                padding: 16px 0;
                width: 100vw;
                // background-color: rgba(0, 0, 0, 0.5);
                font-size: 1.3rem;
                list-style: circle;
                order: 4;
                li:hover {
                    background-color: rgba(0, 0, 0, 0.171);
                }
            }
            .mobileListActive{
                display: block;
            }
            .global_nav_login {
                justify-content: center;
                width: fit-content;
                font-size: 12px;
                order: 2;
                p {
                    margin: 0 1rem 0 8px;
                }
                .global_nav-mobile_open-menu {
                    display: block;
                }  
            } 
        }
    }
}
@media screen and (max-width: 537px) {
    .global_nav-bar-container {
        .global_nav-bar{
            .global_nav_login{
                p{
                    display: none;
                }
            }
        }
    }
}