<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oneki Discord Bot</title>
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <!-- css styles -->
    <link rel="stylesheet" href="css/global-style.css">
    <link rel="stylesheet" href="css/main-page-style.css">
</head>
<body class="body">
    <!-- barra de navegacion -->
    <%- include("../partials/nav.ejs"); %> 
    <!-- contenido principal -->
    <%- include("../index.ejs") %> 
    <!-- footer -->
    <%- include("../partials/footer.ejs") %> 
    <script>
        function activeButton() {
            const linkList = document.getElementById('nav_bar-list')
            linkList.classList.toggle('mobileListActive')
        }
        let userBrowser = navigator.userAgent
        if (/Firefox/.test(userBrowser)){
            const globalNavBar = document.getElementById('global_nav-bar');
            globalNavBar.style.backgroundColor = 'rgba(0, 0, 0, 0.5)'
        }
    </script>
</body>
</html>