<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="icon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%-title%></title>
    <!--Web Style-->
    <link rel="stylesheet" href="css/global-style.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/commands.css">
    <!--Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap" rel="stylesheet">
</head>
<body class="bg-dark">
    <!--NavBar-->
    <%- include('../partials/nav.ejs'); %>
    <!--Body-->
    <%-body%>
    <!--Footer-->
    <%- include('../partials/footer.ejs'); %>
<!--    <script src="/socket.io/socket.io.js"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>-->
</body>
</html>